<nav class="sticker-header">
    <a class="logo-link" routerLink="/home" routerLinkActive="active">
        <div class="logo">
            <img src="{{ logoImage }}" alt="Sticker Webshop Logo" />
            <h1>{{ applicationName }} Webshop</h1>
        </div>
    </a>



    <input type="checkbox" class="menu-toggle" id="menu-toggle" />
    <label class="burger-menu" for="menu-toggle">
        <div class="menu-button"></div>
    </label>

    <nav class="nav-links">
        <a class="router-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="router-link" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="router-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="router-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a *ngIf="!isLoggedIn()" class="router-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a *ngIf="!isLoggedIn()" class="router-link" routerLink="/register" routerLinkActive="active">Registreren</a>

        <!-- Dropdown menu for logged-in users -->
        <a class="router-link user-dropdown" *ngIf="isLoggedIn()">
            <button class="user-menu-button" (click)="toggleUserDropdown()">
                Welcome, {{ this.getUserName()?.name }}
            </button>
            <div class="dropdown-content" *ngIf="isUserDropdownOpen">
                <a class="router-link">View User Info</a>
                <a class="router-link" (click)="logout()">Logout</a>
            </div>
        </a>
    </nav>
</nav>