<footer class="sticker-footer">
  <div class="sticker-icons">
    <div class="sticker-icon">
      <img src="{{dragonSkyrimImage}}" alt="Sticker 1">
    </div>
    <div class="sticker-icon">
      <img src="{{pikachuImage}}" alt="Sticker 3">
    </div>
    <div class="sticker-icon">
      <img src="{{arrowSkyrimImage}}" alt="Sticker 2">
    </div>
  </div>
  <p class="shop-info">
    <strong>{{applicationName}}</strong><br>
    Explore our amazing collection of stickers!
  </p>
  <p class="copyright">© {{currentYear}} {{applicationName}}</p>
</footer>